/* CSS Document */

.btn:first-child {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}
.btn {
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	float: left;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

.btn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: rgb(254,254,254);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6', GradientType=0 );
	border-color: #E6E6E6 #E6E6E6 #A2A2A2;
	border-image: none;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #006666;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 0;
	padding: 6px 10px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
}
.btn:hover {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	/*background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 69%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(69%,rgba(247,247,247,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 69%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 69%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 69%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 69%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );*/
background: rgb(254,254,254);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(230,230,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6', GradientType=0 );


	border-color: #999;
	border-image: none;
}
a {
	color: #7BBDB9;
	text-decoration: none;
}
/*
.icon {
	margin-right: 5px !important;
	height: 16px !important;
	width: 16px !important;
	display: inline-block !important;
}

.mini_bot{
	height:17px !important;
	width:17px !important;
	padding:3px !important;
	text-align:center !important;
	border-radius:12px !important;}

.title_bar .btn{
	float:right !important;
	margin-left:10px !important;
	margin-top:0px !important;
	margin-left:5px !important;}


.icon_user {
	background:url(../imgs/iconosBl.fw.png) -32px -80px no-repeat;
}
.icon_setting {
	background: url(../imgs/iconosBl.fw.png) -48px -80px no-repeat;
}
.icon_exit {
	background: url(../imgs/iconosBl.fw.png) -16px 0px no-repeat;
}
.icon_edit {
	background: url(../imgs/iconosBl.fw.png) -64px 0px no-repeat;
}
.icon_delete {
	background: url(../imgs/iconosBl.fw.png) -96px 0px no-repeat;
}
.icon_new {
	background: url(../imgs/iconosBl.fw.png) 0px -16px no-repeat;
}
.icon_fly {
	background: url(../imgs/iconosBl.fw.png) -48px -96px no-repeat;
}
.icon_save {
	background: url(../imgs/iconosBl.fw.png) -80px -0px no-repeat;
}
.icon_print {
	background: url(../imgs/iconosBl.fw.png) -0px -96px no-repeat;
}
.icon_photo {
	background: url(../imgs/iconosBl.fw.png) -16px -96px no-repeat;
}
.icon_video {
	background: url(../imgs/iconosBl.fw.png) -32px -96px no-repeat;
}
.icon_search {
	background: url(../imgs/iconosBl.fw.png) -64px -96px no-repeat;
}
.icon loop {
	background: url(../imgs/iconosBl.fw.png) -80px -96px no-repeat;
}
.icon_set {
	background: url(../imgs/iconosBl.fw.png) -96px -96px no-repeat;
}
.icon_more {
	background: url(../imgs/iconosBl.fw.png) 0px -126px no-repeat;
}
.icon_add {
	background: url(../imgs/iconosBl.fw.png) -80px -16px no-repeat;
}
.icon_Refresh{
	background:url(../imgs/iconosBl.fw.png) -32px 0px no-repeat }

.icon_return{
	background:url(../imgs/iconosBl.fw.png) -80px -64px no-repeat; }
*/



.w100 {
	width: 100px;
}
.w90 {
	width: 90px;
}
.w80 {
	width: 80px;
}
.w70 {
	width: 70px;
}
.w60 {
	width: 60px;
}
