<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        </body><body style="margin:0;padding:0">
    <table width="100%" border="0" cellpadding="16" cellspacing="0" style="border-collapse:collapse">
        <tr>
            <td bgcolor="#F7F7F7">

                <table width="600" align="center" border="0" valign="top" cellpadding="16" cellspacing="0" style="border-collapse:collapse">
                    <tr>
                        <td><img src="https://test.doctorplus.eu/mails/pass-bienetre-logo.png" alt="DoctorPlus" style="border:none;"/></td>
                    </tr>
                </table>
                <table width="600" align="center" bgcolor="#ffffff" border="0" valign="top" cellpadding="16" cellspacing="0" style="border-collapse:collapse">
                    <tr>
                        <td>
                            <table width="100%" align="center" bgcolor="#ffffff" border="0" valign="top" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                <tr>
                                    <td>
                                       
                                        <p style="color:#415B70; font-size:14px; font-family:'Helvetica', Arial, sans-serif">Rappel de rendez-vous  demandé pour </p>
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="color:#415B70; font-size:14px; font-family:'Helvetica', Arial, sans-serif; text-align:center; margin-top: 5px; margin-bottom: 5px;"><span style="color:#F33243; font-size:18px">Sebastian Balestrini</span></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="margin-top:0px; padding-top:0px">
                            <table width="100%" align="center" bgcolor="#ffffff" border="0" valign="top" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                <tr style="border-top: 1px #ccc solid;">
                                    <td>
                                        <table width="100%" align="center" bgcolor="#ffffff" border="0" valign="top" cellpadding="6" cellspacing="0" style="border-collapse:collapse">
                                            <tr>
                                                <td width="64" align="center">
                                                    <img src="https://test.doctorplus.eu/mails/doctor.jpg">
                                                </td>
                                                <td>
                                                    <p style="color:#415B70; font-size:16px; font-family:'Helvetica', Arial, sans-serif">
                                                       Prof. Sebastian Balestrini Medecin <br>
                                                        Médecine générale
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="border-top: 1px #ccc solid;">
                                    <td>
                                        <table width="100%" align="center" bgcolor="#ffffff" border="0" valign="top" cellpadding="6" cellspacing="0" style="border-collapse:collapse">
                                            <tr>
                                                <td width="64" align="center">
                                                    <img src="https://test.doctorplus.eu/mails/calendario.jpg" >
                                                </td>
                                                <td>
                                                    <p style="color:#415B70; font-size:16px; font-family:'Helvetica', Arial, sans-serif">
                                                        16 Nov 2019 10:40
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                </tr>
                                                                <tr style="border-top: 1px #ccc solid;">
                                    <td>
                                        <table width="100%" align="center" bgcolor="#ffffff" border="0" valign="top" cellpadding="6" cellspacing="0" style="border-collapse:collapse">
                                            <tr>
                                                <td width="64" align="center">
                                                    <img src="https://test.doctorplus.eu/mails/map.jpg" >
                                                </td>
                                                <td>
                                                    <p style="color:#415B70; font-size:16px; font-family:'Helvetica', Arial, sans-serif">
                                                        Cabinet 1 - rue deHanovre 145<br>
                                                        PARIS 03 (75003), France, 
                                                    </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                                                                                                <tr>
                                    <td colspan="2">
                                                                                <a href="http://maps.google.com/maps?z=17&t=m&q=loc:48.8701931+2.3348234999999704" title="Cabinet 1 - rue deHanovre 145, PARIS 03 (75003), France - " ><img alt="Cabinet 1"  src="https://maps.googleapis.com/maps/api/staticmap?maptype=roadmap&markers=icon:https://test.doctorplus.eu/xframework/app/themes/dp02/imgs/icons/ico_pointer_blue.png|48.8701931,2.3348234999999704&zoom=16&size=640x400&key=AIzaSyAiAp4o4BqFlL2TbZgAtKEFfeW2L4e0L9U"/></a>
                                    </td>
                                </tr>
                                                            </table>
                        </td>
                    </tr>
                                                            <tr>
                        <td>
                            <table width="100%" align="center" bgcolor="#f6f6f6" border="0" valign="top" cellpadding="12" cellspacing="0" style="border-collapse:collapse">
                                <tr>
                                    <td>
                                        <p style="color:#34495e; font-size:16px; font-family:'Helvetica', Arial, sans-serif; margin-bottom: 6px;">
                                            <strong>Numéro de Rendez-vous: 40486</strong>
                                        </p>	
                                        <span style="color:#34495e; font-size:14px; font-family:'Helvetica', Arial, sans-serif">
                                         Veuillez s’il vous plait utiliser ce numéro à l’accueil / secrétariat
                                        </span>				
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    

                    <tr>
                        <td>
                            <table width="100%" align="center" bgcolor="#fff" border="0" valign="top" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                <tr>
                                    <td>
                                                                                <p style="color:#415B70; font-size:12px; font-family:'Helvetica', Arial, sans-serif; margin-top:0;">
                                            Nous vous conseillons de vous présenter au rendez-vous un peu en avance afin de réaliser les vérifications usuelles (carte d'assuré). Si vous avez besoin de modifier ou annuler un rendez-vous, veuillez vous connecter à votre compte sur DoctorPlus!
                                        </p>
                                                                            </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                                        
                    <tr>
                        <td>
                            <table width="100%" align="center" bgcolor="#fff" border="0" valign="top" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                <tr>
                                    <td>
                                        <p style="color:#415B70; font-size:14px; font-family:'Helvetica', Arial, sans-serif; margin-top:0px;">
                                             Salutations, <br>
                                           L'équipe Pass Bien-être(by DoctorPlus)
                            </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
               
                    <tr>
                        <td>
                            <table width="100%" align="center" bgcolor="#fff" border="0" valign="top" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                <tr>
                                    <td>
                                         <p style="color:#999999; font-size:11px; font-family:'Helvetica', Arial, sans-serif; text-align:center">
                                             Cette adresse email ne permet pas de recevoir de réponse. Si vous avez besoin de plus d'informations, veuillez-vous rapprochez de notre équipe support. Si sbalestrinifr@gmail.com n'est pas votre compte sur DoctorPlus, envoyez-nous s'il vous plait un email à <a href="mailto:support@passbienetre.eu">support@passbienetre.eu</a> pour déconnecter votre adresse email de ce compte. 

                            </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
                <table width="600" align="center" border="0" valign="top" cellpadding="16" cellspacing="0" style="border-collapse:collapse">
                    <tr>
                        <td align="center">
                            <img src="https://test.doctorplus.eu/mails/pass-bienetre-logo-bw.png" alt="DoctorPlus" style="border:none"/>
                        </td>
                    </tr>
                </table>
                
            </td>
        </tr>
    </table>
    <table width="100%" align="center" border="0" valign="top" cellpadding="16" cellspacing="0" style="border-collapse:collapse">
        <tr>
            <td align="center" bgcolor="#3A3D43">
                <p style="color:#FFFFFF; font-size:11px; font-family:'Helvetica', Arial, sans-serif; text-align:center">&copy; 2019 DoctorPlus, Tous droits réservés.</p>
            </td>
        </tr>
    </table>

    <style type="text/css">
        @media only screen and (max-width: 600px), screen and (max-device-width: 600px){
            table{
                width:100%;
            }
            .rsp-img{
                display: block;
                width: 100%;
            }
            .rsp-lnk{
                word-break: break-all;
                line-height: 18px !important;
                display: block;
                padding-top: 12px;
            }
        </style>

    </body>
</html>
