/*Fix header cantidad consultas*/
.ce-ca-consultas-abiertas {
    margin-left: 0px;
}
.ce-ca-toobar a {
    width: 30px;
}
.ce-ca-toobar span {
    margin-left: 8px;
}
/*Fix home*/
.consulta-express-submenu-icon-holder-lg>a>span{
    text-transform: uppercase;
}

.consulta-express-submenu.homepaciente h1{
    margin-top: 30px!important;
    margin-bottom: 50px!important;  
}
@media (max-width: 600px){
    .consulta-express-submenu.homepaciente h1 {
        margin-top: 10px!important;
    }
}
.consulta-express-submenu.homepaciente .consejos{
    margin-top: 30px;
    margin-bottom: 14px;
}
.consulta-express-submenu.homepaciente .consejos i{
    font-size: 18px;
    margin-right: 10px;
}
.consulta-express-submenu{
    margin-bottom:54px;
}
@media (max-width: 600px){
    .consulta-express-submenu {
        margin-bottom: 0px;
    }
}

/*Fix header buscador rango fecha - Consultas finalizadas*/
@media (max-width: 600px){
    .ce-ca-toolbar-filter-box .ce-ca-toolbar-desde-box {
        width: 40%;
        text-align: center;
    }
    .ce-ca-toolbar-filter-box .ce-ca-toolbar-hasta-box {
        width: 40%;
        text-align: center;
    }
    .ce-ca-toolbar-filter-box .ce-ca-toolbar-action-box {

        max-width: 20%;
    }
}
/*Fix boton eliminar consulta*/
a.btn_eliminar_consulta, a.btn_eliminar_consulta:active, a.btn_eliminar_consulta:focus, a.btn_eliminar_consulta:visited {
    color: #fff !important;
    background: #ff6f6f  !important;
}
a.btn_eliminar_consulta:hover {
    background: #ff9a9a!important;
    color: #fff;
}
/*Fix boton horario inicio VC - aceptar VC*/
#modal-seleccionar-horario-consulta .select-inicio-sala.disabled{
    background: #bdc3c7;
}
@media (max-width: 600px){
    #modal-seleccionar-horario-consulta .select-inicio-sala{
        display: inline;
        width: 40%;
    }
}

/*Fix home bandeja entrada iconos VC - CE*/
/**quitar margenes*/
.consulta-express-submenu-icon-holder-lg>a:first-child,.consulta-express-submenu-icon-holder-lg>a:last-child { 
    margin-left:0px !important;
    padding-bottom: 5px;
}
.consulta-express-submenu-icon-holder-lg,.consulta-express-submenu-icon-holder-sm {
    max-width: 100% !important;
    margin-left: 0px!important;
    padding-bottom: 5px;
}


/*Fix orden iconos Consulta -bandeja entrada*/
.consulta-express-submenu-icon-holder-sm a,.consulta-express-submenu-icon-holder-lg a {
    margin-left: 0;
    margin-bottom: 0;
}
.menu-consulta-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 798px;
    float: none;
    margin: auto;
    margin-bottom:15px;
    width:100%
}
.home .menu-consulta-item>div{
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 0px !important;
}

#div_bandeja_entrada_consultaexpress .menu-consulta-item>div{
    width: 33%;
    box-sizing: border-box;
    margin-bottom: 0px !important;
}
#div_bandeja_entrada_videoconsulta .menu-consulta-item>div{
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 0px !important;
}

/*Fix alinear alerta contador consultas*/
.consulta-express-submenu-icon-holder-sm>a>div>span {
    bottom: -5px !important;
    right: calc(50% - 35px) !important;
}

@media (max-width: 600px){
    .consulta-express-submenu-icon-holder-lg>a>div>span {
        bottom: -5px !important;
        right: calc(50% - 35px) !important;
    }
    .mvc-right-title {
        display: inline-block;
        float: right;
        font-size: 14px;
        padding-top: 18px;
    }
    .consulta-express-submenu-icon-holder-lg>a {
        padding-bottom: 18px;
        width: 100%;
    }
    .consulta-express-submenu-icon-holder-lg,.consulta-express-submenu-icon-holder-sm {
        margin: 0;
    }
    .home .menu-consulta-item>div{

        margin-bottom: 25px !important;
    }
}

@media (max-width: 768px){
    /*Fix ocultar titulo y select estados - home bandeja entrada*/
    #div_bandeja_entrada .consulta-express-tittle-lnk {
        display: inline-block !important;
    }
    #div_bandeja_entrada .settings.consulta-express-pull-right{
        display: none  !important;
    }

    /*Orden iconos mobile*/
    #div_bandeja_entrada_consultaexpress .menu-consulta-item>div,
    #div_bandeja_entrada_videoconsulta .menu-consulta-item>div,
    .home .menu-consulta-item>div{
        width: 50%;
        box-sizing: border-box;
    }

    /*Orden iconos VC*/
    /* #div_bandeja_entrada_videoconsulta .menu-consulta-item .pendientes { order: 1; }
     #div_bandeja_entrada_videoconsulta .menu-consulta-item .nueva { order: 2; }
     #div_bandeja_entrada_videoconsulta .menu-consulta-item .abiertas { order: 3; }
     #div_bandeja_entrada_videoconsulta .menu-consulta-item .consultorio-virtual { order: 4; }
     #div_bandeja_entrada_videoconsulta .menu-consulta-item .finalizadas { order: 5; }
     #div_bandeja_entrada_videoconsulta .menu-consulta-item .declinadas { order: 6; }
     #div_bandeja_entrada_videoconsulta .menu-consulta-item .vencidas { order: 7; }
    */
    /*Orden iconos CE*/
    /* #div_bandeja_entrada_consultaexpress .menu-consulta-item .pendientes { order: 1; }
     #div_bandeja_entrada_consultaexpress .menu-consulta-item .nueva { order: 2; }
     #div_bandeja_entrada_consultaexpress .menu-consulta-item .abiertas { order: 3; }
     #div_bandeja_entrada_consultaexpress .menu-consulta-item .finalizadas { order: 4; }
     #div_bandeja_entrada_consultaexpress .menu-consulta-item .declinadas { order: 5; }
     #div_bandeja_entrada_consultaexpress .menu-consulta-item .vencidas { order: 6; }
    */
}

/*Fix sala espera */
/*Alerta pàciente en consultorios - Sala espera*/
.ce-ca-toolbar .cs-ca-colx3-inner.status-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status-paciente-consultorio{
    border: solid 1px;
    border-color: #2ecc71;
    border-radius: 5px;
    padding: 2px 10px;
    font-size:14px !important;
    font-weight: 600;
    color: #fff !important;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.status-paciente-consultorio.paciente-online{
    background: #2ecc71;
    border-color: #2ecc71;
}
.status-paciente-consultorio.paciente-offline{
    background: #f1c40f;
    border-color: #f1c40f;
    /*color: #415b70 !important;*/
}

/*animacion icono status*/
.status-paciente-consultorio-icon.paciente-online {
    background: #2ecc71  !important;


}
.status-paciente-consultorio-icon.paciente-offline{
    background: #f1c40f !important;
}
/*Timer tiempo transcurrido*/
.timer-tiempo-transcurrido{
    font-size: 14px;
    font-weight: 600;
    color: #e2071a;
}
@media(max-width:600px){
    .status-paciente-consultorio{
        font-size:12px !important;
    }
    .timer-tiempo-transcurrido{
        font-size: 12px;
    }
}
/*Fix boton antenda paciente*/
.va-atender-card {
    display: flex;
    align-items: center;
}
.va-atender-card .back {
    position: absolute;
    background-color: #f99b9b;
    width: 100%;
    height: auto; 
    backface-visibility: hidden;
    transform: none;
    text-align: center;
    padding-top: 0px; 
    display: flex;
    margin: auto;
}
.va-atender-paciente-btn a{
    margin:auto;
}
/*Fix chat holder*/

.audio-actions-panel .audio-reccord-holder .chat-msg-holder {
    width: 100%;
    float: none;
    padding-right: 0px;
    border: solid 1px #ccc;
}
@media (max-width: 768px){
    .audio-actions-panel .audio-reccord-holder .chat-msg-holder .chat-msg-input-holder {
        border-bottom: none !important;
    }
}

/*Mensaje no posponer videoconsulta con turno*/
.videoconsulta-turno-disclaimer p{
    text-align: center;
    padding: 20px;
    background: #eeeeee;
    font-size: 15px;
    margin: 30px 10px;
}
@media (max-width: 768px){
    .videoconsulta-turno-disclaimer p{
        padding: 10px;
        font-size: 14px;

    }
}
